.container {
    padding: 20px;
}
.h3 {
    margin-bottom: 4px;
}
.section {
    margin-bottom: 10px;
}
.productlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.addbox{
    /* position: fixed; /* or absolute */
    /* top: 50%;
    left: 42.5%; */ 
}

